body {
	background: #f6f6f6;
}
.item__comment {
	display: block;
	width: 200px;
	background: aqua;
	color: black;
	padding: 5px;
	line-height: 1;	
}

.item__comment:not(:last-of-type) {
	margin-bottom: 10px; 
}
code {
	display: inline-block;
	padding: 15px;
	background: #d6f7ff;
	color: mediumvioletred;
	margin-bottom: 20px;
}
code.info {
	background: #9dffa4;
	color: #000;
}

code.warning {
	background: #5d5b5c;
}

code.error {
	background: #ff9387;
	color: #fff;
}